*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	color: #fff;
	min-width: 320px;
	position: relative;
	margin: 0;
	padding: 0;
}
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
}
header{
	min-width: 100%;
	background-color: #440206;
	background: url(../img/header_img.png) 0 0 no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.logo{
	margin-top: 20px;	
}
.logo a{
	color: #fff;
	font-size: 1.875em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	padding: 0 5px;
	border: 3px solid #fff;

}
.logo span{
	color: #f8b864;
}
.menu_list{
	font-family: "RobotoBold", sans-serif;
	font-size: 18px;
	list-style-type: none;
	float: right;
	margin-top: 28px;
}
.menu_list li{
	display: inline-block;
}
.menu_list li a{
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	border-left: 4px solid #fff;
	padding: 0 20px;
	cursor: pointer;
}
/*.menu_list ul li a:first-child{
	border-left: none;
}*/ /*выясниить, почему не убирается бордер у первого ребенка*/
.top_banner{
	margin: 150px auto 120px;
    padding-bottom: 40px;
    text-align: center;
}
.top_banner h1{
	font-family: "Parisienne";
	font-size: 3em;
	text-transform: capitalize;
}
.top_banner h2,
.reservation h2{
	font-family: "RobotoBold", sans-serif;
	font-size: 3.875em;
	text-transform: uppercase;	
}
.top_banner p{
	font-size: .9375em;
	font-weight: 400;
}
.btn{
	margin: 40px auto 60px;
}
.btn a{
	font-size: 1.25em;
	color: #fff;
	padding: 8px 20px;
	border: 2px solid #fff;
}
.btn a:hover{
	background-color: rgba(255, 255, 255, .2);
}
#recipes_1{
	background-color: #f8b864;	
}
.recipe_img{
	display: block;
}
.recipe_img img{
	display: block;
	width: 100%;
}
.recipe_text{
	padding: 60px;
}
.recipe_text h3{
	font-size: 1.75em;
}
.btn-recipes{
	margin-top: 100px;
}
#recipes_2{
	background-color: #232323;
}
#recipes_3{
	background-color: #fff;
	color: #000;
}
.item{
	margin: 80px 0 100px;
	text-align: center;
}
.item .fa{
	font-size: 57px;
}
.item h3{
	font-size: 2em;
	font-weight: bold;
}
.item a{
	color: #f8b864;
	font-weight: bold;
	cursor: pointer;
}
.item a:hover{
	color: #0a0404;
}
.make_reservation{
	width: 100%;
	text-align: center;
	background-color: #440206;
	background: url(../img/reservation.jpg) 0 0 no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 80px 0;
}
.reservation{
	padding-top: 60px;
}
.reservation h3{
	font-family: "Parisienne";
	font-size: 3em;
}
.btn_beige a{
	font-family: "RobotoBold", sans-serif;
	text-transform: uppercase;
	background-color: #f8b864;
	border: none;
	padding: 10px 40px;
}
.food_item_1{
	width: 100%;
	height: 100%;
	background: #f8b864 url(../img/food_item1.jpg) 0 0 no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.hidden {
	display: none;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}
.no-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}