*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	color: #fff;
	min-width: 320px;
	position: relative;
	margin: 0;
	padding: 0;
}
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
}
header{
	min-width: 100%;
	background-color: #440206;
	background: url(../img/header_img.png) 0 0 no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.logo{
	margin-top: 20px;	
}
.logo a{
	color: #fff;
	font-size: 1.875em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	padding: 0 5px;
	border: 3px solid #fff;

}
.logo span{
	color: #f8b864;
}
.menu_list{
	font-family: "RobotoBold", sans-serif;
	font-size: 18px;
	list-style-type: none;
	float: right;
	margin-top: 28px;
}
.menu_list li{
	display: inline-block;
}
.menu_list li a{
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	border-left: 4px solid #fff;
	padding: 0 20px;
	cursor: pointer;
}
/*.menu_list ul li a:first-child{
	border-left: none;
}*/ /*выясниить, почему не убирается бордер у первого ребенка*/
.menu_list li a:hover{
	text-decoration: underline;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.top_banner{
	margin: 150px auto 120px;
    padding-bottom: 40px;
    text-align: center;
}
.top_banner h1{
	font-family: "Parisienne";
	font-size: 3em;
	text-transform: capitalize;
}
.top_banner h2{
	font-family: "RobotoBold", sans-serif;
	font-size: 3.875em;
	text-transform: uppercase;	
}
.top_banner p{
	font-size: .9375em;
	font-weight: 400;
}
.btn{
	margin: 40px auto 60px;
}
.btn a{
	font-size: 1.25em;
	color: #fff;
	padding: 8px 20px;
	border: 2px solid #fff;
}
.btn a:hover{
	background-color: rgba(255, 255, 255, .2);
	transition: all 1s;
}
#recipes_1{
	background-color: #f8b864;	
}
.recipe_img{
	display: block;
}
.recipe_img img{
	display: block;
	width: 100%;
}
.recipe_text{
	padding: 60px;
}
.recipe_text h3{
	font-size: 1.75em;
}
.btn-recipes{
	margin-top: 100px;
}
#recipes_2{
	background-color: #232323;
}
#recipes_3{
	background-color: #fff;
	color: #000;
}
.item{
	margin: 80px 0 100px;
	text-align: center;
}
.item .fa{
	font-size: 57px;
}
.item h3{
	font-size: 2em;
	font-weight: bold;
}
.item a{
	color: #f8b864;
	font-weight: bold;
	cursor: pointer;
}
.item a:hover{
	color: #0a0404;
}
.make_reservation{
	width: 100%;
	height: auto;
	text-align: center;
	background-color: #440206;
	background: url(../img/reservation.jpg) 0 0 no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 80px 0;
}
.reservation{
	padding: 80px 0 60px;
	line-height: 0.2;
}
.reservation h3{
	font-family: "Parisienne";
	font-size: 80px;
}
.reservation h2{
	font-family: "RobotoBold", sans-serif;
	font-size: 6em;
	text-transform: uppercase;	
}
.btn_beige{
	margin-top: 40px;
}
.btn_beige a{
	background-color: #f8b864;
    border: none;
    display: inline-block;
    font-family: "RobotoBold",sans-serif;
    margin-top: 30px;
    padding: 25px 40px;
    text-transform: uppercase;
}
#food_price{
	display: block;
	text-align: center;
	margin: 0 auto;
}
.food_item_content{
	display: inline-block;
    line-height: 0;
    padding: 135px 0;
}
.food_item1{
	background: #fff url(../img/food_item1.jpg) 0 0 no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.food_item2{
	background: #fff url(../img/food_item2.jpg) 0 0 no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.food_item3{
	background: #fff url(../img/food_item3.jpg) 0 0 no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.food_item1 h3,
.food_item2 h3,
.food_item3 h3{
	font-family: "RobotoBold",sans-serif;
	font-size: 3.25em;
}
.food_item1 h4,
.food_item2 h4,
.food_item3 h4{
	font-family: "RobotoBold",sans-serif;
	font-size: 1.75em;
	text-transform: uppercase;
}
.food_item1 span,
.food_item2 span,
.food_item3 span{
	display: inline-block;
	margin-top: 115px;
}
#contact{
	overflow: hidden;
}
.hours_block{
	display: block;
	float: left;
	width: 50%;
	line-height: 0;
	text-transform: uppercase;
	background-color: #232323;
	padding: 80px 60px;
}
.hours_block h3{
	font-size: 3.25em;
	line-height: 1.3;
}
.hours_block span{
	font-family: "RobotoBold",sans-serif;
	font-size: 1.75em;
	display: block;
	padding-top: 45px;	
}
.hours_block h4{
	font-family: "RobotoBold",sans-serif;
	font-size: 2.25em;
	color: #f8b864;
	
}
.open{
	font-size: 5em;
	margin-top: 46px;
}
.address_block{
	display: block;
	float: right;
	width: 50%;
	line-height: 0;
	background-color: #f8b864;
	padding: 80px 60px;
}
.fa-map-marker{
	font-size: 5em;
}
.address_block h3{
	font-size: 2em;
	line-height: 1.3;
	margin-bottom: 120px;
}
.address_block p{
	font-size: 1.75em;
	margin-top: 60px;
}
.address_block i{
	margin-right: 5px;
}
footer{
	color: #000;
	text-align: center;
	padding: 80px 0 60px 0;
}
footer h3{
	font-size: 1.75em;
	margin-bottom: 30px;
}
.social-icons{
	margin: 65px 0 30px;
}
.social-icons a{
	font-size: 1.75em;
	color: #000;
	margin-left: 20px;
}
.hidden {
	display: none;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}
.no-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.no-margin{
	margin-left: 0 !important;
	margin-right: 0 !important;
}