/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.top_banner{
		margin: 100px auto;
	}
	.hours_block h3{
		display: inline;
	}
	.open{
		margin-top: -5px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.menu_list{
		margin-top: -32px;
	}
	.top_banner {
    	margin: 80px auto;
	}
	.top_banner h2{
		font-size: 3em;
	}
	.reservation{
		padding: 50px;
	}
	.reservation h3{
		font-size: 3.75em;
	}
	.reservation h2 {
		font-size: 5em;
	}
	#contact{
		text-align: center;
	}	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.top_banner{
		margin: 80px auto 60px auto;
	}
	.hours_block h3{
		font-size: 3em;
	}
	.hours_block h4{
		font-size: 1.75em;
	}
	.hours_block span{
		font-size: 1.5em;
	}
	.address_block{
		padding: 80px 35px 94px 35px;
	}
	.address_block p {
    	font-size: 1.25em;
    	margin-top: 50px;
	}
	.address_block h3{
		font-size: 2em;
		margin-bottom: 10px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.recipe_text {
    	padding: 30px;
	}
	.btn-recipes {
    	margin: 40px auto 20px;
    	text-align: center;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}